body
{
    background-color: black !important;
}

h2
{
    height: 100px;
}

.header_text
{
    line-height: 100px;
    color: #20C20E;
}


.box
{
    margin-bottom: 10px;
    margin-right: 50px;
    padding: 0 !important;
    border-radius: solid #20C20E 2px;
    
}

.box_size1
{
    height: 290px;   
}

.box_size2
{
    height: 140px;
}

.box_title
{
    padding: 0 !important;
    background-color: #20C20E !important;
}

.box_content
{
    background-color: black;
    color: aliceblue;
}

.submit_button
{
    background-color: #20C20E !important;
    border: 0 !important;
}