body
{
    background-color: black !important;
}

body::after
{
    content: "";
    background: url(img/background.jpg);
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
h2
{
    height: 100px;
}

.header_size
{
    height: 50px;
}
.header_text
{
    line-height: 50px;
    color: #20C20E;
}

.illustrate
{
    color: #20C20E;
    float: left;
}

.box
{
    margin-bottom: 10px;
    padding: 20px !important;
    border-radius: solid #20C20E 2px;
}

.card_border
{
    border: solid #20C20E 2px !important;
}

.box_size1
{
    height: 290px;   
}

.box_size2
{
    height: 140px;
}

.box_title
{
    padding: 0 !important;
    background-color: #20C20E !important;
}

.box_content
{
    background-color: black;
    color: aliceblue;
}

.submit_button
{
    background-color: black !important;
    border: solid #20C20E 1px !important;
    color: #20C20E !important ;
}

.inside_text
{
    text-align: left;
    color: #20C20E;
    background-color:black; 
}

